.hero-section{
    padding-top: 100px;
    padding-bottom: 100px;
    .hero-section-data{
        .btn{
            border: none;
            color: white;
            background-color: rgb(98 84 243);
        }
    }
    .hero-section-img{
        figure{
            position: relative;
           &::after{
            content: '';
            width: 50%;
            height: 80%;
            left: 57%;
            top: -2rem;
            z-index: -1;
            position: absolute;
            background-color: rgba(81, 56, 238, 0.4);
           } 
        }
        img{
            width: 100%;
        }
    }
}
@media screen and (max-width:768px){
    .hero-section{
        padding-top: 60px;
        padding-bottom: 10px;
    }
    .hero-section-data{
        margin-bottom: 30px;
    }
}