.my-image-section {
    .my-image {
        display: flex;
        justify-content: center;
        align-items: center;

        .box-image-style {
            width: 100%;
            cursor: pointer;
        }

        .main-screen {
            img {
                width: 100%;
                cursor: pointer;
            }
        }
    }

}