.bg-body-tertiary {
    position: relative;

    .container {
        .navbrand {
            color:rgb(98, 84, 243);
            font-size: 30px;
            text-decoration: none;
            padding-bottom: 12px;
        }

        .item {
            padding: 16px 0 16px;
            margin-inline: 10px;
            border-bottom: 2px solid transparent;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.5);

        }
        .bell-notification{
            position: relative;
            color: white;

            &::after{
                content: attr(current-count);
                position: absolute;
                top: -11px;
                right: -6px;
                width: 19px;
                height: 19px;
                border-radius: 50%;
                background-color: blue;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .fa-cart-shopping {
                font-size: 25px;
                cursor: pointer;
                color: black;
            }
        }

        .btn-logout {
            border: none;
            border-radius: 20px;
            background-color: orange;
            color: white;
            padding: 2px 10px;
            margin-left: 10px;
        }
    }
}