.sort-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;

    .sorting-list-grid{
        .sort-btn{
            border: none;

            &:nth-last-child(2n){
                margin-right: 15px;
            }
        }
    }
    .active{
        background-color: black;
        color: white;
    }
}