.contact-form-section {
    padding-top: 50px;
    padding-bottom: 50px;

    .contact-form {
        max-width: 22rem;
        margin: auto;

        .contact-inputs {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            input {
                padding: 6px;
                border-radius: 5px;
                border: 1px solid black;
            }

            input[type="submit"] {
                cursor: pointer;
                transition: all 0.2s;
                background-image: linear-gradient(to right, #03A9F4, yellow);
                border: none;

                &:hover {
                    background-color: blue;
                    // border: 1px solid black;
                    color: black;
                }
            }
        }
    }
}